<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card card-local">
                <img src="{{mov.image}}" class="card-img-top" alt="movie1">
                <div class="card-body">
                    <h5 class="card-title">{{mov.name}}</h5>
                    <p class="card-text">An exciting movie.</p>
                    <p>{{ mov.year}}</p>
                    <button class="btn btn-success float-right" (click)='sendBack()'>Add to Favourite</button>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h3>More Details to come</h3>
        </div>
    </div>
</div>